/* Inspired by Sunil Rajput at Bootsnipp */

body {
	/*background: #7C3293;  !* fallback for old browsers *!*/
	/*background: -webkit-linear-gradient(to right, #7C3293, #42538D);  !* Chrome 10-25, Safari 5.1-6 *!*/
	background: linear-gradient(to right, #7C3293, #3C68D8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
	align-content: center;
	padding-top: 8%;
}

.mx-auto {
	width: 200px;
	margin: 20px;
	background-color: #ffffff;
	opacity: 0.8;
	padding: 20px;
}

.row {
	margin-top: 20px;
}