{% extends "base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static "js/login.js" %}"></script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="mx-auto rounded text-center">
			<img src="{% static "img/Psychology_image.png" %}" width="150" height="150">
			<h2>Welcome to SOSA!</h2>
			<small>This login page is for administrators. To participate in an experiment, click the test link that you were given by an administrator.</small>
			<form>
				<div class="form-group">
					<input type="email" class="form-control" id="email" placeholder="Email Address">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<p id="message"></p>
				<button type="button" class="btn btn-primary" onclick="passwordCheck()">Login</button>
			</form>
		</div>
	</div>
{% endblock %}